body {
  background-color: #e0d8e6;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}
.home {
  padding: 50px;
}
.home .headline {
  display: flex;
  justify-content: space-around;
}
.home input {
  width: 300px;
  border-radius: 3px;
  margin-top: 30px;
}
.movie-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.movie-list .movie-card {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 15px;
  flex: 1;
}
.movie-list .movie-card h2,
.movie-list .movie-card p {
  text-align: center;
}
.movie-list .movie-card ul {
  list-style: none;
}
.movie-list .movie-card li {
  font-size: 12px;
  line-height: 1.3em;
}
.movie-detail {
  display: flex;
  justify-content: center;
  align-content: center;
}
.movie-detail p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.movie-detail li {
  list-style: none;
}
.add-movie {
  display: flex;
  justify-content: center;
}
.add-movie form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.add-movie .movie-input {
  width: 180px;
}
.add-movie .field {
  border: 3px solid #ffffff;
  text-align: center;
  padding: 20px;
}
